<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
  <link rel="stylesheet" href="style/style.css">
  <link rel="stylesheet" href="style/left_right_btn.css">
  <link rel="stylesheet" href="style/menu.css">
  <link rel="stylesheet" href="style/settings.css">
    <title>Edit password</title>
</head>
<body>
<div th:if="${authUsername==null}" th:insert="~{headerUnauthorized :: header}"></div>
<div th:if="${authUsername!=null}" th:insert="~{headerAuthorized :: header}"></div>
<div class="main">
  <form th:method="POST" th:action="@{/editPassword}" class="info">
    <div th:if="${person!=null}" class="info-wrapper">
      <span class="info_span">Старый пароль: </span>
      <input type="text" name="oldPassword" class="about_span"/>
    </div>
    <span style="color:red" th:if="${oldPasswordError!=null && person!=null}" th:text="${oldPasswordError}" class="error_text">oldPasswordError</span>
    <div class="info-wrapper">
      <span class="info_span">Новый пароль: </span>
      <input type="password" name="newPassword" class="about_span"/>
    </div>
    <span style="color:red" th:if="${newPasswordEmpty!=null}" th:text="${newPasswordEmpty}" class="error_text">newPasswordEmpty</span>
    <div class="info-wrapper">
      <input type="submit" value="Изменить пароль" class="edit_btn"/>
</div>
  </form>
</div>
</body>
</html>