<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Restore password</title>
    <link rel="stylesheet" href="style/style.css">
    <link rel="stylesheet" href="style/formLogin.css">
</head>
<body>
<div th:insert="~{headerUnauthorized :: header}"></div>
<div class="main">
  <form method="POST" th:action="@{/restorePassword}" class="formLogin">
    <div class="input-wrapper">
      <span>Email</span>
      <input type="text"  name="email" th:value="${email}" class="input" placeholder="Email" />
    </div>
    <span style="color:red" th:if="${emailError!=null}" th:text="${emailError}" class="error_text">emailEmpty</span>
    <div class="input-wrapper">
      <input type="submit" name="restorePasswordEmail" value="Восстановить пароль используя email" class="submit_login"/>
    </div>
    <div class="input-wrapper">
      <input type="submit" name="restorePasswordTelegram" value="Восстановить пароль используя Telegram" class="submit_login"/>
    </div>
  </form>
</div>
</body>
</html>